/* src/css/Fonts.css */
@font-face {
    font-family: 'Suisse Intl';
    src: url('font/SuisseIntl-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
}

body {
    font-family: 'Suisse Intl', 'Verdana, sans-serif';
}
