/* Center the h1 within a container */
.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh); /* Adjust for header height */
    margin: 0; /* Remove default margin */
  }
  
  h1 {
    font-size: 3rem; /* Adjust font size as needed */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
  }
  
  .outer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100vh); /* Adjust for header height */
    margin: 0; /* Remove default margin */
  }

  .testpage2-window {
    width: 480px;
    height: 360px;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
  }
  
  .testpage2-nav {
    background: #fdfdfd;
    padding: 5px 5px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eeeeee;
    height: 44px;
  }
  
  .back {
    padding-top: 450px;
  }
  .testpage2-tabs {
    flex-grow: 1;
    display: flex;
    width: 100%;
  }
  
  .testpage2-tab {
    border-radius: 5px;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    user-select: none;
  }
  
  .testpage2-underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #8855ff;
  }
  
  .testpage2-tab.selected {
    background: #eee;
  }
  
  .testpage2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    flex-grow: 1;
    user-select: none;
  }
  
  .testpage2-content {
    /* Additional styles for the content can go here */
  }