.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the gap as needed */
  }
  
  Button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  Button:hover {
    background-color: #000000
    ;
  }
  